{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
    </ol>
{% endblock %}


{% block content %}
    {% get_side_menu using="app_list" as dashboard_list %}
    {% if dashboard_list %}
        {% widthratio dashboard_list|length 2 1 as middle %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body text-right">
                        <p class="h5 font-weight-bold">عدد العملاء المسجلين</p>
                        <p class="display-4"><span class="number">{{registered_clients_count}}</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-right">
                        <p class="h5 font-weight-bold">عدد العملاء الذين اشتروا</p>
                        <p class="display-4"><span class="number">{{clients_who_purchased_count}}</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-right">
                        <p class="h5 font-weight-bold">عدد الدراجات النارية</p>
                        <p class="display-4"><span class="number">{{all_motorcycles_count}}</span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-right">
                        <p class="h5 font-weight-bold">إجمالي قيمة الدراجات النارية</p>
                        <p class="display-4"><span class="number">{{all_motorcyles_total_price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
