<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
								initial-scale=1.0"
    />
    <title>Multi Step Form</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <span class="navbar-brand mb-0 h1">خطـوات التسجـيـل</span>
        <span class="navbar-brand mb-0 h1">تعهيد</span>
      </div>
    </nav>

    <div class="container">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          style="width: 0%"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="step">
        <h4 class="mb-5">أهلا و سهلا</h4>
        <h6 class="mb-5">
          من هنا خطوتك الأولـى لشراء دراجة نارية ثم تأجيـرها على شركات معتمدة من
          خلالنــا
        </h6>
        <div class="mb-3">
          <input
            type="email"
            placeholder="ادخل بريدك الالكـتـرونـي"
            oninput="this.className = ''"
            name="field1"
            id="email-input"
            required
          />
          <p id="email-input-error" class="error-message"></p>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6 class="mb-4">وصلك كود التحقق على بريدك الالكتـرونـي؟</h6>
        <div class="mb-3">
          <input
            type="text"
            placeholder="ادخل كــــود التحقـق"
            oninput="this.className = ''"
            name="code-input"
            id="code-input"
            required
          />
          <p id="code-input-error" class="error-message"></p>
          <p class="hint-below-input">
            دخلت بريد الكتروني خاطئ؟ تقدر تعدله
            <span onclick="nextPrev(-1)">من هنا</span>
          </p>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6 class="mb-4">نحتـــاج رقم جوالــك</h6>
        <div class="mb-3">
          <input
            type="text"
            placeholder="ادخل رقم جوالك"
            oninput="this.className = ''"
            name="field3"
            id="phone-input"
            required
          />
          <p class="error-message" id="phone-input-error"></p>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6 class="mb-4">تهمنا البيانات التالية عشان العقــد</h6>
        <div class="d-flex flex-column gap-3">
          <input
            type="text"
            placeholder="اسمــك الثلاثــي"
            oninput="this.className = ''"
            name="field4"
            id="name-input"
            required
          />
          <p class="error-message" id="name-input-error"></p>
          <input
            type="text"
            placeholder="رقم هويتك"
            oninput="this.className = ''"
            name="field5"
            id="identification-input"
            required
          />
          <p class="error-message" id="identification-input-error"></p>
        </div>
        <p class="hint-below-input">
          سيتم ادراج البيانات اعلاه بالعقد , الرجاء التأكد من صحتها
        </p>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6 class="mb-4">كم عدد الدراجات النارية اللي ودك تشتـري؟</h6>
        <div class="d-flex flex-column mb-3 additional-description">
          <span>سعر الشـراء يشمل :</span>
          <span>الدراجة النارية 3300 ريال</span>
          <span>اصدار اللوحات 500 ريال</span>
          <span>التأمين سنتين 2150 ريال</span>
        </div>
        <div class="d-flex flex-column gap-3 mt-5">
          <input
            type="number"
            placeholder="اختـر العدد من هنا"
            oninput="updateTotalPriceAndValidate()"
            name="field6"
            id="motorcycle-count-input"
            required
          />
          <p class="error-message" id="motorcycle-count-input-error"></p>
        </div>
        <p class="hint-below-input">كل دراجة نارية تؤجر بـ 500 ريال شهريا</p>
        <div id="total-price"></div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6>
          و ّدك نأجرهم على شـركة وحدة او نوزعهم على شركات متعددة عشان نقلل
          الـمخاطر؟
        </h6>
        <div class="d-flex flex-column mb-3 additional-description">
          <span
            >دائما ننصح بتوزيع الدراجات النارية على عدة شـركات لتقليل
            الـمخاطر</span
          >
        </div>
        <div class="mb-3 mt-5">
          <div
            class="d-flex gap-3 justify-content-center align-items-center checkbox-input-container"
          >
            <label class="checkbox-container">
              <input
                type="checkbox"
                checked="checked"
                id="motor-rent-checkbox"
              />
              <span class="checkmark"></span>
            </label>
            <span
              >نعم ارغب بتأجيـر الدراجات النارية على شـركات متفرقة لتقليل
              المخاطر</span
            >
          </div>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6>إجمالـي الـمبلغ الـمطلوب سداده <span class="total-price-summary"></span></h6>
        <div class="d-flex flex-column mb-5 additional-description">
          <span>سوف تؤجر بـ <span class="total-price-summary"></span> شهريا لـمدة 18 شهر</span>
          <span class="sub-description"
            >سعر بيع الدراجة بعد انتهاء فترة التأجير يحدد لاحقا</span
          >
        </div>
        <div class="mb-3">
          <div class="d-flex gap-3 align-items-center checkbox-input-container">
            <label class="checkbox-container">
              <input
                type="checkbox"
                checked="checked"
                id="price-agreement-checkbox"
              />
              <span class="checkmark"></span>
            </label>
            <span>لقد فهمت ذلك</span>
          </div>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6>الإتفاقية</h6>
        <div class="d-flex flex-column mb-3 additional-description with-border">
          <span class="sub-description">{{agreement_text}}</span
          >
        </div>
        <div>
          <div
            class="d-flex gap-3 justify-content-center align-items-center checkbox-input-container"
          >
            <label class="checkbox-container">
              <input
                type="checkbox"
                checked="checked"
                id="policy-agreement-checkbox"
              />
              <span class="checkmark"></span>
            </label>
            <span
              >اوافق على بنود الاتفاقية و موافقتي بمثابة توقيع رسمي و معتمد دون
              الحاجة الى توقيع المستند يدويا</span
            >
          </div>
        </div>
        <p class="hint-below-input">
          سوف يتم ارسال نسخة موقعة من قبلنا على بريدك الالكتروني التــالــي بعد
          انهاءك لجميع خطوات التسجيل
        </p>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6>سعيديـن بثقتــك</h6>
        <div class="d-flex flex-column mb-5 additional-description">
          <p>نأمل تحويل المبلغ الـمستحق <span class="total-price-summary"></span> الى الحساب البنكي لـ</p>
          <p>شركة الدراجات النارية المعتمدة {{bank_name}}</p>
          <p>{{bank_account_number}}</p>
        </div>
        <div class="mb-3">
          <div class="d-flex gap-3 align-items-center checkbox-input-container">
            <label class="">
              <input type="file" id="file-input" />
            </label>
            <span>ارفق ايصال التحويل هنا</span>
          </div>
        </div>
      </div>

      <!-- ========================================================================================= -->

      <div class="step">
        <h6>شكــرا لك</h6>
        <div class="d-flex flex-column mb-5 additional-description">
          <span>جاري التحقق من اتمام خطوات التسجيل</span>
          <span class="sub-description"
            >سيتم ابلاغك عبر البريد الالكتروني عند الانتهاء من المراجعة</span
          >
          <span class="sub-description mt-5"
            >تستطيع تسجيل الدخـول و الاطلاع علـى المعلومات بعد التحقق من اتمام
            خطوات التسجيل</span
          >
        </div>
      </div>

      <div class="form-footer d-flex gap-3">
        <!-- <button type="button" id="prevBtn" onclick="nextPrev(-1)">
          السابق
        </button> -->
        <button type="button" id="nextBtn" onclick="nextPrev(1)">
          التالي<img src="{% static 'arrow-left.svg' %}" />
        </button>
      </div>
    </div>
    <script>
      let currentTab = 0;
      let motorcyclePrice = 0;
      let availableMotorcycles = 0;
      showTab(currentTab);

      document.addEventListener("DOMContentLoaded", function () {
        const nextBtn = document.getElementById("nextBtn");
        const understandCheckbox = document.getElementById("price-agreement-checkbox");

        // Initialize the next button state
        nextBtn.disabled = !understandCheckbox.checked;

        understandCheckbox.addEventListener("change", function () {
          if (this.checked) {
            nextBtn.classList.remove('disabled');
            nextBtn.disabled = false;
          } else {
            nextBtn.classList.add('disabled');
            nextBtn.disabled = true;
          }
        });

        // Add event listeners for steps 7 and 8 checkboxes
        const policyAgreementCheckbox = document.getElementById("policy-agreement-checkbox");


        policyAgreementCheckbox.addEventListener("change", function () {
          if (this.checked) {
            nextBtn.classList.remove('disabled');
            nextBtn.disabled = false;
          } else {
            nextBtn.classList.add('disabled');
            nextBtn.disabled = true;
          }
        });
        

        const fileInput = document.getElementById("file-input");
        // Add event listener for the file input
        fileInput.addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              localStorage.setItem("transfer-receipt", e.target.result);
            };
            reader.readAsDataURL(file);
          }
  });

      });

      async function fetchMotorcycleInfo() {
        try {
          let response = await fetch("{{base_url}}/users/fetch-motorcycle-info/");
          if (!response.ok) {
            throw new Error("Failed to fetch motorcycle info");
          }
          let data = await response.json();
          motorcyclePrice = data.motorcycle_price;
          availableMotorcycles = data.available_motorcycles;
          console.log("Motorcycle info fetched:", data);
        } catch (error) {
          console.error("Error fetching motorcycle info:", error);
        }
      }

      function updateTotalPriceAndValidate() {
        let count = document.getElementById("motorcycle-count-input").value;
        let errorElement = document.getElementById("motorcycle-count-input-error");
        if (count && count > 0) {
          if (count <= availableMotorcycles) {
            let totalPrice = count * motorcyclePrice;
            document.getElementById("total-price").textContent = `إجمالي السعر: ${totalPrice} ريال`;
            localStorage.setItem("total-price", totalPrice);
            errorElement.textContent = "";
          } else {
            errorElement.textContent = `العدد المطلوب (${count}) يتجاوز العدد المتاح (${availableMotorcycles}).`;
            document.getElementById("total-price").textContent = "";
          }
        } else {
          errorElement.textContent = "";
          document.getElementById("total-price").textContent = "";
        }
      }

      function showTab(n) {
        let x = document.getElementsByClassName("step");
        x[n].style.display = "block";
        let progress = (n / (x.length - 1)) * 100;
        document.querySelector(".progress-bar").style.width = progress + "%";
        document.querySelector(".progress-bar").setAttribute("aria-valuenow", progress);
        if (n == x.length - 1) {
          document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
          document.getElementById("nextBtn").innerHTML =
            'التالي<img src="{% static "arrow-left.svg" %}" />';
        }

        // Update total price summary if this is the total price step
        if (n === 5) { // Change this index to the correct step index for the total price step
          const totalPrice = localStorage.getItem("total-price");
          if (totalPrice) {
            document.getElementsByClassName("total-price-summary")[0].textContent = `${totalPrice} ريال`;
            document.getElementsByClassName("total-price-summary")[1].textContent = `${totalPrice} ريال`;
            document.getElementsByClassName("total-price-summary")[3].textContent = `${totalPrice} ريال`;
          }
        }
      }

      async function nextPrev(n) {
        let x = document.getElementsByClassName("step");
        if (n == 1 && !(await validateForm())) return false;
        x[currentTab].style.display = "none";
        currentTab += n;
        if (currentTab >= x.length) {
          document.querySelector(".progress-bar").style.width = "100%";
          document.querySelector(".progress-bar").setAttribute("aria-valuenow", 100);
          // No need to reset the form now as we will redirect the user
          return false;
        }
        showTab(currentTab);
      }

      async function validateForm() {
        let valid = true;
        let x = document.getElementsByClassName("step");
        let y = x[currentTab].getElementsByTagName("input");
        for (let i = 0; i < y.length; i++) {
          if (y[i].value == "") {
            y[i].className += " invalid";
            let errorElement = document.getElementById(`${y[i].id}-error`);
            if (errorElement) {
              errorElement.textContent = "هذا الحقل مطلوب.";
            }
            valid = false;
          } else {
            let errorElement = document.getElementById(`${y[i].id}-error`);
            if (errorElement) {
              errorElement.textContent = "";
            }
            if (y[i].id === "email-input" && !validateEmail(y[i].value)) {
              y[i].className += " invalid";
              document.getElementById("email-input-error").textContent = "الرجاء إدخال بريد إلكتروني صحيح.";
              valid = false;
            } else if (y[i].id === "phone-input" && !validatePhoneNumber(y[i].value)) {
              y[i].className += " invalid";
              document.getElementById("phone-input-error").textContent = "الرجاء إدخال رقم هاتف صحيح.";
              valid = false;
            } else if (y[i].id === "name-input" && !validateFullname(y[i].value)) {
              y[i].className += " invalid";
              document.getElementById("name-input-error").textContent = "ادخل اسمك الثلاثي بشكل صحيح.";
              valid = false;
            } else if (y[i].id === "identification-input" && y[i].value.length < 10) {
              y[i].className += " invalid";
              document.getElementById("identification-input-error").textContent = "رقم الهوية يجب أن يكون 10 أرقام على الأقل.";
              valid = false;
            } else if (y[i].id === "motorcycle-count-input" && y[i].value <= 0) {
              y[i].className += " invalid";
              document.getElementById("motorcycle-count-input-error").textContent = "الرجاء إدخال عدد صحيح أكبر من صفر.";
              valid = false;
            } else if (y[i].id === "motorcycle-count-input" && y[i].value > availableMotorcycles) {
              y[i].className += " invalid";
              document.getElementById("motorcycle-count-input-error").textContent = `العدد المطلوب (${y[i].value}) يتجاوز العدد المتاح (${availableMotorcycles}).`;
              valid = false;
            }
          }
        }

        if (valid) {
          if (currentTab === 0) {
            localStorage.setItem("email", document.getElementById("email-input").value);
          } else if (currentTab === 2) {
            localStorage.setItem("phone", document.getElementById("phone-input").value);
          } else if (currentTab === 3) {
            localStorage.setItem("name", document.getElementById("name-input").value);
            localStorage.setItem("identification", document.getElementById("identification-input").value);
          } else if (currentTab === 4) {
            localStorage.setItem("motorcycle-count", document.getElementById("motorcycle-count-input").value);
          }
          return await callAPIForStep(currentTab);
        }
        return valid;
      }

      function validateEmail(email) {
        const re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        return re.test(String(email).toLowerCase());
      }

      function validatePhoneNumber(phone) {
        const re = /^((?:[+?0?0?966]+)(?:\s?\d{2})(?:\s?\d{7}))$/;
        return re.test(String(phone));
      }

      function validateFullname(name) {
        const re = /^(?:(?:[\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF]{2,}\s){2}[\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF]{2,}|(?:[A-Za-z'-]{2,}\s){2}[A-Za-z'-]{2,})$/;
        return re.test(String(name));
      }

      async function callAPIForStep(step) {
        let apiUrl;
        let data;
        const nextBtn = document.getElementById("nextBtn");
        switch (step) {
          case 0:
            apiUrl = "{{base_url}}/users/register/";
            data = { email: localStorage.getItem("email") };
            nextBtn.classList.add('disabled');
            nextBtn.disabled = true;
            break;
          case 1:
            apiUrl = "{{base_url}}/users/verify/";
            data = {
              code: document.getElementById("code-input").value,
              email: localStorage.getItem("email"),
            };
            nextBtn.classList.add('disabled');
            nextBtn.disabled = true;
            break;
          case 9: // Update this to the correct step index
            apiUrl = "{{base_url}}/users/complete-registration/";
            data = {
              phone: document.getElementById("phone-input").value,
              email: localStorage.getItem("email"),
              full_name: localStorage.getItem("name"),
              id_number: localStorage.getItem("identification"),
              count: localStorage.getItem("motorcycle-count"),
              receipt: localStorage.getItem("transfer-receipt")
            };
            nextBtn.classList.add('disabled');
            break;
        }

        if (apiUrl && data) {
          try {
            let response = await fetch(apiUrl, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });
            let result = await response.json();
            if (!response.ok) {
              handleError(step, result.message);
              nextBtn.classList.remove('disabled');
              nextBtn.disabled = false;
              return false;
            } else {
              // Handle redirection if URL is returned in the response
              if (step === 9 && result.url) { // Change step index to match the last step
                window.location.href = result.url;
                return false; // Stop further processing as we are redirecting
              }
            }
          } catch (error) {
            handleError(step, error.message);
            nextBtn.classList.remove('disabled');
            nextBtn.disabled = false;
            return false;
          }
        }
        nextBtn.classList.remove('disabled');
        nextBtn.disabled = false;
        return true;
      }

      function handleError(step, message) {
        let x = document.getElementsByClassName("step");
        let errorMessageElement = x[step].querySelector(".error-message");
        if (errorMessageElement) {
          errorMessageElement.textContent = message;
        }
      }

      function resetForm() {
        let x = document.getElementsByClassName("step");
        for (let i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        let inputs = document.querySelectorAll("input");
        inputs.forEach((input) => {
          input.value = "";
          input.className = "";
        });
        currentTab = 0;
        showTab(currentTab);
        document.querySelector(".progress-bar").style.width = "0%";
        document.querySelector(".progress-bar").setAttribute("aria-valuenow", 0);
      }

      // Fetch the motorcycle price and available motorcycles when the page loads
      fetchMotorcycleInfo();

    </script>
  </body>
</html>
